.Header {
  position: fixed;
  top: 0;
  width: 100%;
  /* overflow: auto; */
  background: midnightblue;
  padding: 10px 0;
  z-index: 100;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.HeaderScrolled {
  background: rgba(0, 0, 0, 0.7);
  padding: 15px 0;
  backdrop-filter: blur(20px);
}

.HeaderGroup {
  max-width: 1300px;
  padding: 1px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 80px 120px auto 100px 100px;
  grid-template-rows: 40px;
  align-items: center;
  justify-items: center;
}

.Header a {
  color: white;
  font-weight: 700;
}

.Header button {
  padding: 10px 24px;
  font-size: 10px;
  text-transform: uppercase;
  background: transparent;
  color: white;
  border: 1px solid white;
  font-weight: 700;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Header button:hover {
  background: white;
  color: midnightblue;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  transform: translateY(-4px);
}

.Header img {
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Header img:hover {
  transform: translateY(-4px);
}

@media (max-width: 640px) {
  .Header {
    padding: 20px 0;
  }

  .HeaderGroup {
    grid-template-columns: auto auto 150px 90px 90px;
    grid-template-rows: 30px;
    padding: 5px 30px 5px 1px;
    margin: 0;
  }

  .Header button {
    padding: 8px 20px;
    font-size: 10px;
    text-transform: uppercase;
    background: midnightblue;
    color: white;

    border: 1px solid white;
    font-weight: 700;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
  }
}

/* Dropdown Button */
.dropbtn {
  background-color: midnightblue;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  padding-top: 5px;
  /* margin-top: 2px; */
  font-size: 12px;
  background-color: transparent;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(16px);
  z-index: 9999;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: whitesmoke;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: #fef234;
  background-color: transparent;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  transition: 3s cubic-bezier(0.2, 0.8, 0.2, 1);
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
